.announcement_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    color: var(--announcement-font-color);
    padding: 40px;
    border-radius: 20px;
    z-index: 998;
    text-align: center;
    min-width: 300px;
    max-width: 650px;
    width: calc(100% - 80px);
}

.announcement_mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #1d1d1d7e;
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    z-index: 997;
}

.announcement_wrapper .announcement-close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--announcement-font-color);
    cursor: pointer;
}

.announcement_wrapper .announcement-title {
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.announcement_wrapper img {
    width: 220px;
    margin: 10px 20px;
}

.announcement_wrapper .announcement-content {
    font-size: 15px;
    margin: 20px 0 0 0;
}

.announcement-content a {
    color: var(--announcement-font-color)
}

.announcement_wrapper .announcement-button {
    background-color: var(--accent);
    color: var(--bg-primary);
    text-decoration: none;
    border-radius: 30px;
    padding: 10px 15px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
}

.announcement-hashtag {
    font-size: 15px;
}

@keyframes announcementIn {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0.8);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}