#dcount-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 40%;
    max-width: 850px;
}

.dcount-card {
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
    background: var(--bg-tertiary);
    backdrop-filter: var(--global-blur);
    -webkit-backdrop-filter: var(--global-blur);
    border: 1px solid var(--border);
    border-radius: 10px;
    color: var(--text-primary);
    transition: transform 0.3s, box-shadow 0.3s;
    aspect-ratio: 3 / 1.5;
    max-width: 280px;
}

.dcount-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.dcount-card-title {
    font-size: 15px;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    padding: 20px;
    color: var(--accent);
}

.dcount-card[data-today="true"] {
    order: -1;
    background-image: linear-gradient(45deg, #4413db70, #eb369969);
}

.dcount-card[data-today="true"]::after {
    content: 'Today!';
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-weight: 700;
    opacity: 0.2;
    font-size: 40px;
    color: #fff;
}

.dcount-card-day-count, .dcount-card-start-day{
    font-family: 'led-font', serif;
    font-size: 20px;
}

.dcount-card-day-count{
    background-image: linear-gradient(transparent 48%, var(--theme-highlight-color) 52%);
}

.dcount-card-start-day{
    margin-bottom: 20px;
    margin-top: 5px;
}

@media screen and (max-width: 750px) {
    #dcount-container {
        width: 100%;
        padding: 0 calc(50% - 150px);
        flex-wrap: nowrap;
        justify-content: flex-start;
        gap: 1em;
        overflow-x: auto;
        scroll-behavior: smooth;
        scroll-snap-type: x proximity;
        -webkit-overflow-scrolling: touch;
    }

    #dcount-container::-webkit-scrollbar {
        display: none;
    }

    .dcount-card{
        flex: 0 0 300px;
        scroll-snap-align: center;
    }
}