@font-face {
    font-family: led-font;
    src: url(./data/fonts/TickingTimebombBB.ttf) format("truetype");
}

@font-face {
    font-family: CYLY;
    src: url(./data/fonts/ChenYuluoyan-Thin-Monospaced.ttf) format("truetype");
}